@import "_reset.scss";

* {
  font-family: "Fira Mono";
}
a {
  color: var(--blue);
  text-decoration: none;
}
p {
  color: var(--fg);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
}

:root {
  --bg: #fbf1c7;
  --red: #cc241d;
  --red-alt: #9d0006;
  --green: #98971a;
  --green-alt: #79740e;
  --yellow: #d79921;
  --yellow-alt: #b57614;
  --blue: #458588;
  --blue-alt: #076678;
  --purple: #b16286;
  --purple-alt: #8f3f71;
  --aqua: #689d6a;
  --aqua-alt: #427b58;
  --gray: #7c6f64;
  --gray-alt: #928374;
  --gray-2: #928374;
  --orange: #d65d0e;
  --orange-alt: #af3a03;
  --fg: #3c3836;
  --fg0: #282828;
  --fg1: #3c3836;
  --fg2: #504945;
  --fg3: #665c54;
  --fg4: #7c6f64;
  --bg0_h: #f9f5d7;
  --bg0_s: #f2e5bc;
  --bg0: #fbf1c7;
  --bg1: #ebdbb2;
  --bg2: #d5c4a1;
  --bg3: #bdae93;
  --bg4: #a89984;
}
.dark {
  --bg: #282828;
  --red: #cc241d;
  --red-alt: #fb4934;
  --green: #98971a;
  --green-alt: #b8bb26;
  --yellow: #d79921;
  --yellow-alt: #fadb2f;
  --blue: #458588;
  --blue-alt: #83a598;
  --purple: #b16286;
  --purple-alt: #d3869b;
  --aqua: #689d6a;
  --aqua-alt: #8ec07c;
  --gray: #a89984;
  --gray-alt: #928374;
  --gray-2: #928374;
  --orange: #d65d0e;
  --orange-alt: #fe8019;
  --fg: #ebdbb2;
  --fg0: #fbf1c7;
  --fg1: #ebdbb2;
  --fg2: #d5c4a1;
  --fg3: #dbae93;
  --fg4: #a89984;
  --bg0_h: #1d2021;
  --bg0_s: #32302f;
  --bg0: #282828;
  --bg1: #3c3836;
  --bg2: #504945;
  --bg3: #665c54;
  --bg4: #7c6f64;
}

body {
  background-color: var(--bg);
}

.centeredText {
  display: flex;
  height: calc(100vh - 80px);
  align-items: center;
  max-width: 662px;
  margin: auto;
  p {
    text-align: center;
  }
}

.tagLink {
  color: var(--orange)
}