.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg3);
  height: 40px;
}

.title {
  color: #000000;
  font-size: 3rem;
  text-decoration: none;
}

.vim-navbar {
  ul{
    display: flex;
    list-style-type: none;
    margin: 0;
  }
  a {
    position: relative;
    display: inline-flex;
    height: 40px;
    padding: 0 10px 0 30px;
    font-family: Fira Mono;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    color: var(--bg);
    text-decoration: none;
  }
  a::after {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    right: -40px;
    border-left: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    border-right: 20px solid transparent;
    z-index: 1;
  }

  ul > li {
    order: 0;
    background-color: var(--bg2);
    a {
      color: var(--gray);
    }
    :after {
      border-left: 20px solid var(--bg2);
    }
  }

  ul > li:nth-child(odd) {
    background-color: var(--bg4);
    a {
      color: var(--bg0_s);
    }
    :after {
      border-left: 20px solid var(--bg4);
    }
  }

  ul > li.vim-active-item {
    order: 1;
    background-color: var(--orange-alt);
    a {
      color: var(--bg);
    }
    :after {
      border-left: 20px solid var(--orange-alt);
    }
  }

  ul > li.vim-active-item ~ li {
    background-color: var(--bg4);
    a {
      color: var(--bg0_s);
    }
    :after {
      border-left: 20px solid var(--bg4);
    }
  }

  ul > li.vim-active-item ~ li:nth-child(odd) {
    background-color: var(--bg2);
    a {
      color: var(--gray);
    }
    :after {
      border-left: 20px solid var(--bg2);
    }
  }
  ul > li:first-child {
    background-color: var(--orange-alt);
    a {
      padding-left: 10px;
    }
    :after {
      border-left: 20px solid var(--orange-alt);
    }
  }
}

.color-mode {
  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
  }
  button {
    position: relative;
    display: inline-flex;
    height: 40px;
    padding: 0 10px;
    font-family: Fira Mono;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    background-color: var(--gray);
    color: var(--bg);
    text-decoration: none;
    border: none;
    outline: none;
  }
  button::before {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    left: -40px;
    border-left: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    border-right: 20px solid var(--gray);
    z-index: 1;
  }
}