.header {
  display: flex;
  justify-content: space-between;
  background-color: #665c54;
  height: 40px;
}

.title {
  color: #000000;
  font-size: 3rem;
  text-decoration: none;
}

.vim-navbar {
  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
  }
  a {
    position: relative;
    display: inline-flex;
    height: 40px;
    padding: 0 10px 0 30px;
    font-family: Fira Mono;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    color: #282828;
    text-decoration: none;
  }
  a::after {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    right: -40px;
    border-left: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    border-right: 20px solid transparent;
    z-index: 1;
  }

  ul > li {
    order: 0;
    background-color: #504945;
    a {
      color: #a89984;
    }
    :after {
      border-left: 20px solid #504945;
    }
  }

  ul > li:nth-child(odd) {
    background-color: #7c6f64;
    a {
      color: #32302f;
    }
    :after {
      border-left: 20px solid #7c6f64;
    }
  }

  ul > li.vim-active-item {
    order: 1;
    background-color: #fe8019;
    a {
      color: #282828;
    }
    :after {
      border-left: 20px solid #fe8019;
    }
  }

  ul > li.vim-active-item ~ li {
    background-color: #7c6f64;
    a {
      color: #32302f;
    }
    :after {
      border-left: 20px solid #7c6f64;
    }
  }

  ul > li.vim-active-item ~ li:nth-child(odd) {
    background-color: #504945;
    a {
      color: #a89984;
    }
    :after {
      border-left: 20px solid #504945;
    }
  }
  ul > li:first-child {
    background-color: #fe8019;
    a {
      padding-left: 10px;
    }
    :after {
      border-left: 20px solid #fe8019;
    }
  }
}

.color-mode {
  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
  }
  a {
    position: relative;
    display: inline-flex;
    height: 40px;
    padding: 0 10px;
    font-family: Fira Mono;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    background-color: #A89985;
    color: #282828;
    text-decoration: none;
  }
  a::before {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    left: -40px;
    border-left: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    border-right: 20px solid #A89985;
    z-index: 1;
  }
}
